*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#conteItemsCarrusel{
    height: 600px;
    overflow: hidden;
}

.itemCarrusel{
    height: 100%;
    position: relative;
}

.tarjetaCarrusel{
    display: flex;
    justify-content: center;
    top: 20px;
    height: 100%;
}

#tarjetaCarrusel-3{
    position: center;
    display: flex;
    align-items: center;
}

.flechasCarrusel{
    position:absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px
}

a{
    text-decoration: none;
}

i{
    color: rgb(30, 30, 232)
}

#contePunto{
    display: flex;
    justify-content: space-around;
}

#contePunto > a{
    font-size: 2em;
    color: rgb(67, 63, 63);
}

img{
    height: 100%;
    width: 75%;
}